* {
  padding: 0;
  margin: 0;
}
/* body{
    padding: 50px;
} */
.navbar {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.navbar_name {
  color: white;
  margin: 0;
}
.navbar_pages {
  color: gray;
  margin: 5px 0 0 0;
}
.container {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.images {
  display: flex;
  gap: 15px;
}
.card{
    border: 2px solid black;
    padding: 5px;
    width: 320px;
    text-align: center;
}
.images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 5px;
}
.card button{
    background-color: black;
    color: wheat;
    padding: 5px;
}
.Footer{
    background-color: black;
    color: white;
}
.contactdetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contactdetails button{
    background-color: yellow;
    width: 250px;
    cursor: pointer;
    margin: 10px auto;
}
